RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)$ index.php?mod=$1 [QSA,L]
RewriteRule ^(.*)/$ index.php?mod=$1 [QSA,L]

RewriteRule ^(.*)/([a-zA-Z0-9_-]+)$ index.php?mod=$1&val=$2 [QSA,L]
RewriteRule ^(.*)/([a-zA-Z0-9_-]+)/$ index.php?mod=$1&val=$2 [QSA,L]